@{
    ViewData["Title"] = "Home Page";

    var configuration = ViewBag.Configuration as IConfiguration;
}

<div class="text-center">
    <p><strong>Services/ClientServiceApi:</strong> @configuration["Services/ClientServiceApi"]</p>
    <p><strong>LocalSetting:</strong> @configuration["LocalSetting"]</p>
    <p><strong>TestSetting:</strong> @configuration["TestSetting"]</p>
</div>
